{% extends 'demo/base.html' %}
{% load bootstrap3 %}
{% load settings_tags %}

{% block title %}
    {% get_title %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Управление залами</h1>
        <div class="row">
            <div class="col-sm-3 col-md-6" style="background-color:lavender;">
                <p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Выберите зал для редактирования:</label>
                            <select class="select_hall" id="hall" name="hall">
                                {% for element in list_hall %}
                                    {% if element.number == select_number %}
                                        <option selected="selected">{{ element.number }}</option>
                                    {% else %}
                                        <option>{{ element.number }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-default">Просмотр</button>
                        </div>
                    </form>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-6" style="background-color:lavender;">
                <h5><b>{{ title_hall }}</b></h5>
                {{ hall|safe }}
            </div>
        </div>
    </div>
{% endblock %}